{"author" "Tobias Brink"
 "content-origin" "Ported from LAMMPS"
 "contributor-id" "e09f947f-5c51-4bda-a096-580e239f6064"
 "description" "Model driver that supports parametrizations of the Tersoff-style three-body potential. It is ported from LAMMPS and supports the same format for parameter files. The commonly used variants by Tersoff and Nord/Albe/Erhart/Nordlund are supported, see source citations for details."
 "doi" "10.25950/55b7b34e"
 "domain" "openkim.org"
 "executables" ["helpers/tersoff2lammps.py"]
 "extended-id" "Tersoff_LAMMPS__MD_077075034781_003"
 "kim-api-version" "2.0.2"
 "maintainer-id" "e09f947f-5c51-4bda-a096-580e239f6064"
 "publication-year" "2019"
 "source-citations" [{"author" "Tersoff, J."
                      "doi" "10.1103/PhysRevB.37.6991"
                      "journal" "Phys. Rev. B"
                      "number" "12"
                      "pages" "6991-7000"
                      "recordkey" "MD_077075034781_003a"
                      "recordtype" "article"
                      "title" "New empirical approach for the structure and energy of covalent systems"
                      "volume" "37"
                      "year" "1988"}
                     {"author" "Tersoff, J."
                      "doi" "10.1103/PhysRevB.39.5566"
                      "journal" "Phys. Rev. B"
                      "pages" "5566-5568"
                      "recordkey" "MD_077075034781_003b"
                      "recordtype" "article"
                      "title" "Modeling solid-state chemistry: Interatomic potentials for multicomponent systems"
                      "volume" "39"
                      "year" "1989"}
                     {"author" "Nord, J. and Albe, K. and Erhart, P. and Nordlund, K."
                      "doi" "10.1088/0953-8984/15/32/324"
                      "journal" "J. Phys.: Condens. Matter"
                      "pages" "5649"
                      "recordkey" "MD_077075034781_003c"
                      "recordtype" "article"
                      "title" "Modelling of compound semiconductors: analytical bond-order potential for gallium, nitrogen and gallium nitride"
                      "volume" "15"
                      "year" "2003"}]
 "title" "Model driver for Tersoff-style potentials ported from LAMMPS v003"}
