{"content-origin" "Ported from LAMMPS"
 "contributor-id" "e09f947f-5c51-4bda-a096-580e239f6064"
 "description" "Model driver that supports parametrizations of the Tersoff-style three-body potential. It is ported from LAMMPS and supports the same format for parameter files. The commonly used variants by Tersoff and Nord/Albe/Erhart/Nordlund are supported, see source citations for details.\n\nOptionally, a Ziegler-Biersack-Littmark potential for short interatomic distances can be smoothly joined via a Fermi function. This functionality mirrors the tersoff/zbl variant in LAMMPS."
 "developer" ["aff409ad-1c1f-4fc6-9f5d-1762d013b915"
              "6be0fba0-c5b2-4ba1-bb25-913f673bd147"
              "0cae35a3-0f1a-4fe4-9cd4-7e75b932d014"
              "49b4cbc5-706d-457f-9b77-e7c08bade0ba"
              "798d5a6b-87b3-4436-96c3-2623f37201a5"
              "44ae4c0b-28b0-4a6a-a799-72e7810d564d"
              "249850a1-74db-45c9-a143-a28facee4c26"
              "5c1d4047-0938-4d5f-b03e-38433fa561eb"]
 "doi" "10.25950/57484673"
 "domain" "openkim.org"
 "executables" ["helpers/tersoff2lammps.py"]
 "extended-id" "Tersoff_LAMMPS__MD_077075034781_004"
 "implementer" ["e09f947f-5c51-4bda-a096-580e239f6064"
                "8e094560-62f1-47e7-9d39-6a6748d0418d"
                "96c6a21a-aef0-46ad-9f2a-b0ae33987a2b"
                "5ca58a6a-aa46-4e5a-a2e1-b3fc6bc2efa6"]
 "kim-api-version" "2.2"
 "maintainer-id" "e09f947f-5c51-4bda-a096-580e239f6064"
 "publication-year" "2021"
 "source-citations" [{"author" "Tersoff, J."
                      "doi" "10.1103/PhysRevB.37.6991"
                      "journal" "Phys. Rev. B"
                      "number" "12"
                      "pages" "6991-7000"
                      "recordkey" "MD_077075034781_004a"
                      "recordprimary" "recordprimary"
                      "recordtype" "article"
                      "title" "New empirical approach for the structure and energy of covalent systems"
                      "volume" "37"
                      "year" "1988"}
                     {"author" "Tersoff, J."
                      "doi" "10.1103/PhysRevB.39.5566"
                      "journal" "Phys. Rev. B"
                      "pages" "5566-5568"
                      "recordkey" "MD_077075034781_004b"
                      "recordprimary" "recordprimary"
                      "recordtype" "article"
                      "title" "Modeling solid-state chemistry: Interatomic potentials for multicomponent systems"
                      "volume" "39"
                      "year" "1989"}
                     {"author" "Nord, J. and Albe, K. and Erhart, P. and Nordlund, K."
                      "doi" "10.1088/0953-8984/15/32/324"
                      "journal" "J. Phys.: Condens. Matter"
                      "pages" "5649"
                      "recordkey" "MD_077075034781_004c"
                      "recordprimary" "recordprimary"
                      "recordtype" "article"
                      "title" "Modelling of compound semiconductors: analytical bond-order potential for gallium, nitrogen and gallium nitride"
                      "volume" "15"
                      "year" "2003"}
                     {"address" "New York"
                      "author" "Ziegler, J. F. and Biersack, J. P. and Littmark, U."
                      "doi" ""
                      "edition" ""
                      "isbn" ""
                      "note" ""
                      "publisher" "Pergamon"
                      "recordkey" "MD_077075034781_004d"
                      "recordprimary" "recordprimary"
                      "recordtype" "book"
                      "title" "The Stopping and Range of Ions in Matter"
                      "url" ""
                      "year" "1985"}]
 "title" "Model driver for Tersoff-style potentials ported from LAMMPS v004"}
